<h1>Bienvenue sur la page pour créer un potin !</h1> <br> <br>

<% if @alert == true%>
  <% if @gossip.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Nous navons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end%>

<form action="/gossips" method="post">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
  <div> Rentre ici le titre du potin <br>
  <input type="text" name="title"> 
  </div> <br>
  <div> Ajoute son contenu <br>
  <input type="text" name="content"> 
  </div> <br>
  <input type="submit" value="Valider">
</form>