<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Bienvenue sur la page des gossips de <%= @city.name%></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @city_gossips.each do |gossip| %>
      <div class="col-md-4">
        <h2><%=gossip.title%></h2>
        <p>posté par <%= gossip.user.first_name %></p>
        <p><%= link_to "Voir le gossip", gossip_path(gossip.id), class: "btn btn-secondary", role: "button"%></p>
      </div>
    <% end%>
  </div>

  <hr>

</div>
